@import '../../pages/styles.module.scss';

// Todo form

.todoForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
  color: #6b6767;
  > * {
    border-radius: 5px;
  }

  .buttons {
    button {
      transition: color 0.5s ease;

      &[type='submit'] {
        background-image: linear-gradient(#78b3e6, #4f93ce);
      }
      &[type='button'] {
        background-color: #d5d5d5;
      }
      &:hover {
        color: white;
        &[disabled] {
          background-image: linear-gradient(#c0b1b1, #d5d5d5);
        }
        &[type='submit'] {
          background-image: linear-gradient(#4f93ce, #1b578b);
        }
        &[type='button'] {
          background-image: linear-gradient(#c0b1b1, #d5d5d5);
        }
      }
    }
  }
}
