@import '../TodoForm/styles.module.scss';

.todoForm {
  .buttons {
    > * {
      width: 30px;
      height: 30px;
    }
  }

  .inputs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    height: 42px;

    .todoName {
      position: relative;
      background-color: whitesmoke;
      margin: 0;
      height: 100%;
      border-radius: 5px;
      &[disabled] {
        background-color: #bfff83;
      }
      &:hover {
        background-color: #cfcbcb;
        &[disabled] {
          background-color: #bfff83;
        }
      }
      input {
        position: absolute;
        z-index: 10000;
        box-sizing: border-box;
        background-color: whitesmoke;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
